# ------------------------------------
# 1. Сборка Python (стандартные исключения)
# ------------------------------------

# Виртуальные окружения
venv/
.venv/
env/
*.pyc
__pycache__/

# Результаты сборки
*.egg-info/
.pytest_cache/
.tox/
dist/

# ------------------------------------
# 2. Инструменты и IDE (локальная разработка)
# ------------------------------------

# Файлы IDE (например, VS Code, PyCharm)
.idea/
.vscode/

# Git
.git
.gitignore

# ------------------------------------
# 3. Конфигурации и данные (не должны попадать в образ)
# ------------------------------------

# Файл с переменными окружения (содержит секреты/локальные настройки)
# Переменные должны передаваться через docker-compose.yml или Kubernetes Secrets.
.env

# Локальные базы данных или временные файлы
*.sqlite
*.db
/data  # или другая директория для данных БД, если используется локально

# Логи
*.log

# ------------------------------------
# 4. Docker (самоисключение)
# ------------------------------------

# Файлы, которые используются только для оркестрации и не нужны внутри контейнера
Dockerfile
docker-compose.yml